@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.images {
	display: grid;
	grid-template-columns: repeat(3, 300px);
	grid-template-rows: repeat(5, 300px);
	column-gap: 15px;
	row-gap: 15px;
	margin: 0 auto;
}